server:
  port: 8080

spring:
  application:
    name: lbytech_backend_new
  
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/lbytech_backend_new?useSSL=false&serverTimezone=Asia/Shanghai
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:123456}
  
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:1234}

  mail:
    host: ${MAIL_HOST:smtp.163.com}
    port: ${MAIL_PORT:465}
    username: ${MAIL_USERNAME:123@163.com}
    password: ${MAIL_PASSWORD:1234}
    properties:
      mail:
        smtp:
          auth: true
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
            port: 465
          ssl:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # ??SQL??
    map-underscore-to-camel-case: true # ????????
ali:
  oss:
    endpoint: ${ALI_OSS_ENDPOINT:oss-cn-beijing.aliyuncs.com}
    accessKeyID: ${ALI_OSS_ACCESS_KEY_ID:xxx}
    accessKeySecret: ${ALI_OSS_ACCESS_KEY_SECRET:xxx}
    bucketName: ${ALI_OSS_BUCKET_NAME:xxx}
